/* body{
    height: 100%;
    min-width: 329px;
    background-color: rgb(219, 250, 215);
}

.navbar, footer div {background-color: hwb(69 70% 11%) !important ;}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;}

main{flex: 1 1 auto;} */

html, body {  
    height: 100%;  
    min-width: 329px;
    background-color: #F1EFEB;
}

.navbar, footer div {
   background-color: #ff7b9aff !important; 
   /* color: #F1EFEB !important; */
}

/* .navbar a {
    color: #F1EFEB !important;
} */

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}